/* Accessibility */
    
#main[tabindex="-1"]:focus {
    outline: 0;
 }
.screen-reader-text {
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    overflow: hidden;
    position: absolute !important;
    width: 1px;
}
.screen-reader-text:focus {
    clip: auto !important;
    display: block;
    height: auto;
    left: 5px;
    top: 5px;
    width: auto;
    z-index: 100000; /* above all content */
}


/* Global */

html {
    font-size: 14px;
}
@media only screen and (min-width: 600px) {
    html {
        font-size: 16px;
    }
}
body {
    color: #2d2d2d;
    font-family: Raleway Web, sans-serif;
    line-height: 2;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
}
* {
    box-sizing: border-box;
    outline: none;
}
section {
    padding: 4rem 0;
    display: block;
}
div {
    display: block;
}
h1, h2, h3 {
    font-family: Playfair Display Web,serif;
    line-height: 1;
}
h3 {
    margin-bottom: 1.5rem;
    font-size: 2.4rem;
    font-style: italic;
    text-align: center;
}
p {
    display: block;

}
ul {
    display: block;
    list-style: none;
}
li {
    display: list-item;
}
img {
    height: auto;
    max-width: 100%;
}
.container {
    margin: 0 auto;
    padding: 0 2%;
    width: 100%;
}
@media only screen and (min-width: 1240px) {
    .container {
        max-width: 1240px;
    }
}
.heavy {
    font-style: normal;
    font-weight: 700;
}


/* header */

.site-header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: .5rem;
    padding-top: 1rem;
}
@media only screen and (min-width: 600px) {
    .site-header {
        flex-wrap: nowrap;
    }
}
.aloha-logo {
    align-self: flex-start;
    flex: 0 1 50%;
}
@media only screen and (min-width: 600px) {
    .aloha-logo {
        flex-basis: 20%;
        order: 1;
    }
}
.screen-reader {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}
.aloha-logo img {
    max-width: 120px;
}
@media only screen and (min-width: 600px) {
    .aloha-logo img {
        max-width: 120px;
    }
}
@media only screen and (min-width: 1240px) {
    .aloha-logo img {
        max-width: 160px;
    }
}
.cart-icon img {
    align-self: flex-end;
    cursor: pointer;
    flex: 0 1 50%;
    text-align: right;
}
@media only screen and (min-width: 600px) {
    .cart-icon img {
        flex-basis: 20%;
        order: 3;
        width: 48px;
    }
}
@media only screen and (min-width: 1240px) {
    .cart-icon img {
        width: 62px;
    }
}
.header-nav {
    align-self: center;
    flex: 1 0 auto;
}
@media only screen and (min-width: 600px) {
    .header-nav {
        flex-basis: 60%;
        order: 2;
    }
}
.header-nav ul {
    border-top: 1px solid #d7d7d7;
    padding-top: .5rem;
    text-align: center;
}
@media only screen and (min-width: 600px) {
    .header-nav ul {
        border-top: 0;
        padding-top: 0;
    }
}
.header-nav li {
    display: inline-block;
    margin: 0 1rem;
    text-transform: uppercase;
}
@media only screen and (min-width: 600px) {
    .header-nav li {
        font-size: .9rem;
        margin: 0 .5rem;
    }
}
@media only screen and (min-width: 1240px) {
    .header-nav li {
        font-size: 1rem;
        margin: 1rem;
    }
}
 a {
    color: #e2574c;
    text-decoration: none;
}

/* Banner */

.banner {
    background: linear-gradient(180deg,rgba(0,0,0,.25) 0,rgba(0,0,0,.25)),url(../images/banner-girl.png) no-repeat center 60px,url(../images/flower-bkgd.jpg) repeat-x top;
    background-size: cover,150px 369px,cover;
    height: 400px;
    position: relative;

}
.banner-text {
    color: #fff;
    font-weight: 700;
    left: 50%;
    line-height: 1;
    position: absolute;
    text-align: center;
    text-shadow: 2px 2px 4px hsla(0,0%,39%,.8);
    text-transform: uppercase;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 80%;
}
@media only screen and (min-width: 1240px) {
.banner {
    background-size: cover,250px 615px,contain;
    height: 550px;
    position: relative;
}
.new-collection {
    font-size: 1.25rem;
    margin-bottom: 1.5rem;
}
.season {
    font-family: Playfair Display Web,serif;
    font-size: 2.5rem;
    font-weight: 400;
    text-transform: none;
}
@media only screen and (min-width: 600px) {
.season {
    font-size: 3rem;
}
@media only screen and (min-width: 1240px) {
.season {
    font-size: 4rem;
}
.about {
    text-align: center;
}
@media only screen and (min-width: 1240px) {
.about-text {
    width: 720px;
}
@media only screen and (min-width: 600px) {
.about-text {
    max-width: 720px;
}


/* About */

.about h2 {
    font-family: Playfair Display Web,serif;
    font-size: 2.4rem;
    font-style: italic;
    font-weight: 100;
    line-height: 1;
    margin-bottom: 1.5rem;
    text-align: center;
}
.about p {
    font-family: Raleway;
    font-weight: 100;
    font-size: 1.15rem;
    text-align: center;
    
}





